$box-width: 340px;
$box-height: 460px;
$border-color: rgb(211, 211, 211);

.login {

    &__body {
        background-color: white;
        width: $box-width;
        height: $box-height;
        border: 1px;
        border-color: $border-color;
        border-style: solid; 
        border-radius: 2%;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-size: 20pt;
        padding-top: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
    }
    &__login-field {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    &__password-field {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    &__auth-button {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    &__no-account {
        margin-left: auto;
        margin-right: auto;
    }
}

.input-field .input-field__login{
    border: none;
    border-bottom: 1px solid #3369f3;
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    height: calc(1.5rem + 2px);
    line-height: 1.25;
    padding: 1rem 0.75rem;
    background-color: white;
}

.input-field .input-field__login:focus{
    outline: 0;
    background-color: #eee;
}

