<div class="main">
    <div class="main__body">
        <div class="main__left-area">
            <div class="main__left-area-header">
                <a href="home"> назад </a>
            </div>
            <div class="main__left-area-content">
                content
            </div>
        </div>
        <div class="main__right-area">
            <div class="main__right-area-header">
                header
            </div>
            <div class="main__right-area-content">
                conten
            </div>
            <div class="main__right-area-footer">
                footer
            </div>
        </div>
    </div>
</div>