<div class="chat-header">
    {{{chatAvatar}}}
    <div class="chat-header__name">
        {{chatName}}
    </div>
    <div class="chat-header__options">
        <div class="option-item">
            <br/>
        </div>
        <div class="option-item">
            <br/>
        </div>
        <div class="option-item">
            <br/>
        </div>
    </div>
</div>
