<div class="caht-header">
    <div class="caht-header__avatar-image">
        {{avatarImage}}
    </div>
    <div class="caht-header__name">
        {{chatId}}
    </div>
    <div class="caht-header__options">
        <div>
            .
        </div>
        <div>
            .
        </div>
        <div>
            .
        </div>
    </div>
</div>
