<div class="chat-footer">
        {{{chatAttach}}}
    <div class="chat-footer__new-message">
        {{{chatNewMessage}}}
    </div>
    <div class="chat-footer__send">
        {{{chatSend}}}
    </div>
</div>
