<dvi class="error">
    <div class="error__body">
        <div class="error__title">
            {{title}}
        </div>
        <div class="error__message">
            {{message}}
        </div>
        <div class="error__link">
            <a href="{{href}}"> {{link}} </a>
        </div>
    </div>
</dvi>